<div class="accordion_form" [formGroup]="accordionForm">
    <div class="accordion_session" id="accordion_session1">
        <div class="session_title">Sorting Options</div>
        <ul>
            <li> <input type="radio" value="id" formControlName="order" name="order">Id</li>
            <li> <input type="radio" value="name" formControlName="order" name="order">Name</li>
        </ul>
    </div>
    <div class="accordion_session" id="accordion_session2">
        <div class="session_title">PokeTypes</div>
        <ul formArrayName="pokeTypes">
            <li [formGroup]="nestedForm" *ngFor="let type of this.createListOfTypes()|async; let i = index">
                <!-- add style!  -->
                <input type="checkBox" [id]='type' [value]="type" [formControlName]="type"
                    (change)="onCheckStateChange($event)">

                <label class='label' [for]="type"
                    [ngClass]="this.retrieveType(type) !== null? type : ''">{{type|titlecase}}</label>
            </li>
        </ul>
        <div class="button_div"><button name='clear' [disabled]="this.nestedForm.pristine"
                (click)=clear()>Clear</button>
        </div>
    </div>

    <div class="accordion_session" id="accordion_session3">
        <div class="session_title">Favourites</div>
        <div class="switch">
            <input type="checkBox" id='switch-1' formControlName="favourites" class="switch-input">
            <label for="switch-1" class="switch-label"></label>
        </div>


    </div>

</div>