<div class='carousel_container'>


    <div class='navigation'>
        <div class='close' (click)='closeModal()'></div>
        <div *ngIf="this.currentIndex !==0;" class='prev nav_btn' id="back_arrow" (click)="slide('REV')">
        </div>
        <div *ngIf="this.currentIndex < currentList.length -1 " class='next nav_btn' id="fwd_arrow"
            (click)="slide('FFW')">
        </div>
    </div>
    <div class='carousel'>
        <div *ngFor="let pokemon of currentList;  let i=index;">
            <app-card *ngIf="i === this.currentIndex" [pokemon]="pokemon" [i]='i'>
            </app-card>
        </div>

    </div>
</div>