
    .search_options {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 3rem 1.6rem 0 1.6rem;
        width: 100vw;
        justify-content: center;

        .input_search_form {
            width: 100%;
        }
    }

    

