<app-spinner *ngIf="fake.loading"></app-spinner>

<div class="main_content">
    <app-filter-component></app-filter-component>

    <div class="miniature_wrapper">


        <app-miniature *ngFor="let pokemon of currentList;
            let i= index;" [i]='i' [pokemon]="pokemon" [modalStatus]="modalStatus"
            (modalStatusChange)="handleModalFromHome($event)">
        </app-miniature>


        <ng-container>
            <p *ngIf="currentList.length === 0 && !this.fake.loading">NO RESULTS FOUND</p>
            <div *ngIf="this.fake.loading " id="loadingImg"></div>
        </ng-container>
    </div>



</div>

<app-modal [modalStatus]="modalStatus" (modalStatusChange)="handleModalFromHome($event)">

    <app-carousel [modalStatus]="modalStatus" (modalStatusChange)="handleModalFromHome($event)">
    </app-carousel>

</app-modal>