$rock: #b69e31;
$rock_container: rgba(182, 158, 49, 0.4);         /*rock,ghost,steel,water,grass,psychic,ice,dark ,fairy, normal, fighting, flying,poison,ground,bug, fire, electric,  dragon */

$ghost: #70559B;
$ghost_container: rgba(112, 85, 155, 0.4);

$steel: #B7B9D0;
$steel_container: rgba(183, 185, 208, 0.4);

$water: #6493eb;
$water_container: rgba(100, 147, 235, 0.4);

$grass:  #74CB48;
$grass_container:  rgba(116, 203, 72, 0.4);

$psychic: #FB5584;
$psychic_container: rgba(251, 85, 132, 0.4);

$ice:   #9ad6df;
$ice_container:   rgba(154, 214, 223, 0.4);

$dark: #75574cc0;
$dark_container: rgba(117, 87, 76, 0.4);

$fairy: #E69EAC;
$fairy_container: rgba(230, 158, 172, 0.4);

$normal: #AAA67f;
$normal_container: rgba(170, 166, 127, 0.4);

$fighting: #C12239;
$fighting_container: rgba(193, 34, 58, 0.4);

$flying: #a891EC;
$flying_container: rgba(168, 145, 236, 0.4);

$poison:#A43E9E;
$poison_container:rgba(164, 62, 157, 0.4);

$ground: #DEC16B;
$ground_container: rgba(222, 193, 107, 0.4);

$bug: #A7B723;
$bug_container: rgba(168, 183, 35, 0.4);

$fire:#F57D31;
$fire_container:rgba(245, 124, 49, 0.4);

$electric: #F9CF30;
$electric_container: rgba(249, 205, 48, 0.4);

$dragon: #7037FF;
$dragon_container: rgba(112, 55, 255, 0.4);