<div class='miniature' [class]="this.pokemon.types[0].type.name">
    <div *ngIf="this.auth.currentUserValue.preferences?.indexOf(this.pokemon.id) === -1; else fav" class='heart'
        (click)="pushPreferences(pokemon.id)"></div>
    <ng-template #fav>
        <div class='heart fav' (click)="pushPreferences(pokemon.id)"></div>
    </ng-template>
    <div class="apex">#{{pokemonId}}
    </div>
    <div class='div_img'>
        <img src='https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{pokemonId}}.png' alt=''
            (click)='openModal(i)'>
    </div>
    <div class='caption' (click)='openModal(i)'>{{
        pokemon.name| titlecase }}
    </div>
</div>