.name-input-container {
    display: block;
}
.form-container {
    font-size: 1.2rem;
    margin-top: 5rem;
    border-radius: 0.8rem;
    box-sizing: border-box;
    width: 30vw;
    max-width: 40rem;

    .button_container {
        width: 100%;

        .button {
            display: block;
            width: 100%;
            color: #ffff;
            background-color: rgba(233, 77, 137, 255);
            border-radius: 0.8rem;
            box-sizing: border-box;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
            height: 4rem;
            font-size: 1.5rem;
            margin-top: 4.5rem;
            text-decoration: none;
            -webkit-appearance: none;
            border: none;
            padding: 0;
            outline: inherit;
            &:disabled {
                background-color: rgb(233 77 137 / 26%);
            }
        }
    }

    label {
        font-weight: bold;
    }
    .label_password {
        min-width: 25rem;

        .password_container {
            position: relative;
            min-width: 25rem;
            width: 100%;

            .eye {
                position: absolute;
                height: 1.6rem;
                width: 1.6rem;
                top: 31%;
                right: 1vw;
                background: url("../../../../../assets/img/eyeClosed.svg");
                background-size: cover;
                &.open {
                    background: url("../../../../../assets/img/eyeOpen.svg");
                    background-size: cover;
                }
            }
        }
    }
    .form-control {
        margin-top: 3rem;

        .input {
            display: block;
            min-width: 1.6rem;
            width: 100%;
            min-width: 25rem;
            line-height: 4rem;
            margin-top: 0.5rem;
            outline: 0;
            padding: 0;
            border: 0.3rem solid #ffff;
            box-sizing: border-box;
            border-radius: 0.8rem;
            text-indent: 1rem;
            font-size: 2rem;
            font-family: "Poppins";
            background-color: rgba(243, 243, 244, 255);
            transition: all 1s ease-out;
            -webkit-transition: all 0.5s ease-out;

            &:hover,
            &:focus {
                background-color: #ffff;
                border: 0.3rem solid rgba(253 237 243);
                outline: 0;
            }
            input:-webkit-autofill,
            input:-webkit-autofill:focus {
                transition: background-color 600000s 0s, color 600000s 0s;
            }
        }

        .paragraph {
            font-size: 1rem;
            color: rgb(163, 154, 154);
        }
        .error {
            color: red;
            font-size: 1rem;
        }
    }
    @media screen and (min-width: 960px) {
        .name-input-container {
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            :nth-child(1),
            :nth-child(2) {
                min-width: 12rem;
            }

            .form-container {
                max-width: 42rem;

                .input {
                    width: 40rem;
                }
                .password_container {
                    width: 40rem;
                }
                .button {
                    width: 15rem;
                }
            }
        }
    }
}
