<form class="form-container" [formGroup]="form" (submit)="regButtonClick($event)">

    <div class="name-input-container">
        <div class="form-control">
            <label for="firstName">Firstname
                <input type="text" class="input" name="email" id="firstName" formControlName="firstName">
            </label>
            <div *ngIf="form.controls['firstName'].invalid && (form.controls['firstName'].dirty || form.controls['firstName'].touched)"
                class="error">
                <small class="text-danger" *ngIf="form.get('firstName').hasError('required')">
                    This field is required.
                </small>
                <small class="text-danger" *ngIf="form.get('firstName').hasError('hasValidity')">
                    This is a valid name example: "Caio"
                </small>
            </div>
        </div>
        <div class="form-control">
            <label for="lastName">Lastname
                <input type="text" class="input" name="email" id="lastName" formControlName="lastName">
            </label>
            <div *ngIf="form.controls['lastName'].invalid && (form.controls['lastName'].dirty || form.controls['lastName'].touched)"
                class="error">
                <small class="text-danger" *ngIf="form.get('lastName').hasError('required')">
                    This field is required.
                </small>
                <small class="text-danger" *ngIf="form.get('lastName').hasError('hasValidity')">
                    This is a valid lastname example test@gmail.com
                </small>
            </div>
        </div>
    </div>
    <div class="form-control">
        <label for="customEmailInput">Email
            <input type="text" class="input" name="email" id="email" formControlName="email">
        </label>
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
            class="error">
            <small class="text-danger" *ngIf="form.get('email').hasError('required')">
                This field is required.
            </small>
            <small class="text-danger" *ngIf="form.get('email').hasError('hasValidity')">
                This is a valid email example test@gmail.com
            </small>
        </div>
    </div>

    <div class="form-control">

        <div class="password_container">
            <label for="password"> Password
                <input type={{this.type}} class="input password" name="password" id="password_input"
                    formControlName="password"></label>
            <span (click)="handleClick()" 
            [ngClass]="{'eye': true, 'open': isOpen }"></span>
        </div>

        <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
            class="error">
            <small class="text-danger" *ngIf="form.get('password').hasError('hasNumber')">Password must contain at least
                a number</small>
            <small class="text-danger" *ngIf="form.get('password').hasError('hasCapitalCase')">Password must contain at
                least a capital letter</small>
            <small class="text-danger" *ngIf="form.get('password').hasError('hasSmallCase')">Password must contain at
                least
                a small caracter</small>

            <small class="text-danger" *ngIf="form.get('password').hasError('hasSpecialCharacters')">Password must
                contain at least a special character</small>
            <small class="text-danger" *ngIf="form.get('password').hasError('required')">
                This field is required.
            </small>
        </div>
    </div>



    <div class="form-control button_container">
        <input type="submit" value="Sign-up" class="button submit_button" [disabled]="form.invalid || form.untouched">
    </div>
    <a href="/login">Sign in</a>



</form>