.container {
    display: flex;
    width: 100vw;
    .title {
        font-weight: bold;
        font-size: 5rem;
        display: flex;
        gap: 0.8rem;
        align-items: center;
        .pokeball {
            height: 5rem;
        }
    }
}
