<div class="filter_component_wrapper">

    <form [formGroup]="filterForm" class="filter_form">

        <div class="input_search_wrapper">
            <input type="text" class="input_search" placeholder="Search" formControlName="input_search">
            <span *ngIf="filterForm.controls['input_search'].value" class="close_icon" id='close_icon'
                (click)="clear($event)">
            </span>
            <app-accordion-icon [isAccordionOpen]="isAccordionOpen"
                (isAccordionOpenChange)="handleAccordionStatus($event)"></app-accordion-icon>
        </div>


        <div class="accordion">
            <!-- ACCORDION FORM/BODY COLLAPSPABLE -->
            <div class="accordion_form" [@collapsable]="isAccordionOpen">

                <div class="accordion_session" id="accordion_session1">

                    <div class="session_title">Sorting Options</div>
                    <div class="inputs_wrapper">
                        <input type="radio" value="id" formControlName="order" name="order">Id
                        <input type="radio" value="name" formControlName="order" name="order">Name
                    </div>
                </div>


                <div class="accordion_session" id="accordion_session2">
                    <div class="session_title">PokeTypes</div>

                    <div formArrayName="pokeTypesControls" *ngVar="this.uniqueTypeMatrix as matrix"
                        class="pokeTypesControls">

                        <div *ngFor="let control of this.pokeTypesControls.controls; let i = index"
                            class="inputs_wrapper">

                            <input type="checkBox" [id]='matrix[i]' [value]="matrix[i]" [formControlName]="i"
                                (change)="onCheckStateChange($event,i)">
                            <label class='label' [for]=" matrix[i]"
                                [ngClass]="this.retrieveControlValue(i) !== null? matrix[i] : ''">{{matrix[i]|titlecase}}
                            </label>

                        </div>

                    </div>

                    <div class="button_div">
                        <button name='clear' id='clear' (click)=clear($event)
                            [disabled]="buttonClearDisabled">Clear</button>
                        <button [disabled]="buttonSelectAllDisabled" (click)="selectAll()"> Select All </button>
                    </div>

                </div>

                <div class="accordion_session" id="accordion_session3">
                    <div class="session_title">Favourites</div>
                    <div class="switch">
                        <input type="checkbox" id='switch-1' formControlName="favourites" class="switch-input">
                        <label for="switch-1" class="switch-label"></label>
                    </div>


                </div>

            </div>
        </div>





    </form>
</div>