body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    &::-webkit-scrollbar {
        display: none;
    }
}
small {
    display: block;
}
.main_content {
    margin: 0 1.6rem;
}

#loadingImg {
    height: 30rem;
    width: 30rem;
    background-image: url("/assets/img/colorPokeball.svg");
    background-size: cover;
}

.miniature_wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-height: 55rem;
    justify-content: space-around;
    gap: 1rem 2rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    overflow: auto;
    margin: 1rem 0;
    padding: 2rem 1rem;
    align-items: center;

    &::-webkit-scrollbar {
        display: none;
    }
    p {
        color: red;
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .main_content {
        padding: 0 3.2rem;
        .miniature_wrapper {
            padding: 7rem;
        }
    }
}
